.home-container{
    justify-content: center;
    background-color: rgb(235, 235, 235);
}

.paper {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style-type: none;
    background-color: #f7f7f7;
    /* border-bottom: 1px solid black; */
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


.food-type_tab{
    margin-bottom: 0px;
    display: flex;
    position: sticky;
    top: 67px;
    /* box-shadow: 0 -2px 6px 0 rgb(28 28 28 / 6%); */
    color : black;
    /* border-top: 2px solid #a4a4a4 */
}
.food-type{
    padding: 1rem;
    color: black;
}

.search-bar{
    margin: auto 4rem auto auto;
    width: 50%;
}

.type-active{
    font-weight: 500;
    color: blue !important;
}

.food-type:hover{
    background-color: white;
    color: #000;
}
.infor__section{
    display: flex;
    padding: 50px;
    /* height: calc(100vh - 217.16px); */
}

.text__bluesky{
    color: #0d6efd;
}

.text_another{
    color: #676767;
    font-weight: 400;
}
.opening__hours{
    font-size: 15px;
    font-weight: 500;
    color: #676767;
    margin-right: 42px;
    line-height: 1.42857143;
}
.hours{
    font-weight: 400;
}
.text__name{
    font-size: 2.57142857rem;
    line-height: 1.33333333;
    font-weight: 500;
    margin-bottom: 2px;
}

.text__name_2{
    letter-spacing: -.64px;
    align-items: center;
}
/* .wallpaper{
    height: 100vh;
} */

@media only screen and (max-width: 600px) {
    .text__name {
        font-size: 1.37142857rem;
        line-height: 1.33333333;
        font-weight: 500;
        margin-bottom: 2px;
    }

    .infor__section {
        padding: 20px;
    }

    .opening__hours {
        font-size: 12px;
        font-weight: 500;
        color: #676767;
        margin-right: 42px;
        line-height: 1.42857143;
    }

    .text_another {
        color: #676767;
        font-weight: 400;
        font-size: 12px;
    }
    .food-type_tab {
        margin-bottom: 0px;
        display: flex;
        position: sticky;
        top: 67px;
        /* box-shadow: 0 -2px 6px 0 rgb(28 28 28 / 6%); */
        color: black;
        /* border-top: 2px solid #a4a4a4 */
        padding: 10px;
    }
    .food-type {
        padding: 0.2rem;
        color: black;
    }
    li a {
        display: block;
        color: #000;
        padding: 4px 4px;
        text-decoration: none;
        font-size: 13px;
        justify-content: left;
    }
    .search-bar{
        padding: 5px;
        display: flex;
        justify-content: right;
    }
    /* .input__gr{
        height: 33px;
    } */
}
