.menu{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    /* margin-top: 1.5rem; */
    padding: calc(10vh - 50px);
}

.menu-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 2.5rem;
    column-gap: 1rem; 
    padding-bottom: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .menu-container{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}